.product-page {
    display: flex;
    gap: 1em;
    padding: 5em 1em;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    width: 20em;
    padding: 1em;

    background-color: white;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);

    text-align: center;
    .img-wrapper {
        img {
            width: 10em;
        }
    }

    .title {
        font-weight: bold;
        font-size: large;
    }

    .subtitle {
        color: #abb7c5;
        padding: 0 2em;
    }

    .tags {
        flex-wrap: wrap;
        display: flex !important;
        gap: 0.5em;

        padding: 1em;

        border-top: 1px solid #eaebec;
        border-bottom: 1px solid #eaebec;

        .tag {
            border: 1px solid #eaebec;
            border-radius: 5px;
            padding: 0.2em 1em;
        }
    }
}

.product-data {
    display: flex;
    flex-direction: column;
    gap: 5em;

    .product-graph {
        background: white;
        box-shadow:
            0 1px 2px rgba(0, 0, 0, 0.07),
            0 2px 4px rgba(0, 0, 0, 0.07),
            0 4px 8px rgba(0, 0, 0, 0.07),
            0 8px 16px rgba(0, 0, 0, 0.07),
            0 16px 32px rgba(0, 0, 0, 0.07),
            0 32px 64px rgba(0, 0, 0, 0.07);

        padding: 2em;
        font-size: large;
    }

    .product-table {
        background: white;
        box-shadow:
            0 1px 2px rgba(0, 0, 0, 0.07),
            0 2px 4px rgba(0, 0, 0, 0.07),
            0 4px 8px rgba(0, 0, 0, 0.07),
            0 8px 16px rgba(0, 0, 0, 0.07),
            0 16px 32px rgba(0, 0, 0, 0.07),
            0 32px 64px rgba(0, 0, 0, 0.07);

        .sort-button {
            display: inline-block;
            color: #abb7c5;
            padding-left: 1em;
            cursor: pointer;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            font-weight: inherit;
            padding: 1em 4em;
        }

        tbody {
            color: #abb7c5;
        }

        tr {
            border-top: 1px solid #eaebec;
            border-bottom: 1px solid #eaebec;
        }

        td {
            padding: 1em 5em;
        }
    }
}
